#Sample dotenv file
#rename from sample.env to .env
#replace the values with real values for your database
# and generate your own secret keys from random GUIDs
#
# IMPORTANT!!  .env files should NOT go into your git repo!
#  REMEMBER to add .env to your .gitignore file.

# mongodb+srv://silverkay92:<password>@cluster0.3lizggb.mongodb.net/?retryWrites=true&w=majority

MONGODB_HOST=cluster0.3lizggb.mongodb.net
MONGODB_USER=silverkay92
MONGODB_PASSWORD=Mrnjsdyddms!92
MONGODB_DATABASE=assignment1
MONGODB_SESSION_SECRET=3260aba8-5804-4440-9c4e-76dc209b8bc9
NODE_SESSION_SECRET=dbd12748-2e0d-4428-8130-9ed7e7d8c074