<%- include("templates/header") %> 
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Yongeun's Website</h1>
      <p class="lead text-muted">Welcome to my website! To use the application, please log in.<p>
        <a href="/signup" class="btn btn-primary my-2">Sign up</a>
        <a href="/login" class="btn btn-secondary my-2">Log in</a>
      </p>
    </div>
  </section>
<!-- <button onclick="window.location.href='/signup'" class="btn btn-primary my-2">Sign up</button><br>
<button onclick="window.location.href='/login'" class="btn btn-secondary my-2">Log in</button> -->
<%- include("templates/footer") %> 