<%- include("templates/header") %>

<div>
  <div class="row justify-content-center">
   
      <h1 class="text-center mb-5">Hello, <%= username %>!</h1>
      <div class="album bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="cat1.jpg" alt="cat1" class="img-fluid" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="cat2.jpg" alt="cat2" class="img-fluid" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="cat3.jpg" alt="cat3" class="img-fluid" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="/logout" method="get" class="d-flex justify-content-center">
        <button type="submit" class="btn btn-warning mt-3">Log out</button>
      </form>

  </div>
</div>

<%- include("templates/footer") %>






