<%- include("templates/header") %> 

<div class="container text-center">
  <h1 class="display-4"><%= error %> required</h1>
  <a href="/signup" class="btn btn-primary btn-lg mt-4">Please try again</a>
</div>

<%- include("templates/footer") %>
